

header {

	height: 100px;
	position: right;	

}
	

body {
    
    color: black;
}


* li {
	
	display : inline;
	padding : 0 0.5em; 
	list-style-type : none;
	margin-right: 40px;
	border-width:5px;	
    

}

ul {
	
	text-align: center;
	border-color: white;
	height : 41px;
	font-family: 'Gloria Hallelujah', cursive;
}


a {
	text-decoration: none;
	color:white;

}

.buko {
	margin-left:10px;

	
} 
.tee {
	margin-left: 50px;
}



.logos {
	width: 50px; 
	font-size: 10px;
	height: 50px;
	margin: 20px 20px 20px 20px;

}

footer {
	text-align: center;
	background-color: black;
	bottom:0;
	left:0;
	height:100px;



}




 h3 {

	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;

}

.clear {

		clear: both;
}

.barre {

	float: left;
	width: 4px;

}


#marque {
	width: 400px;
	height: 200px;
	float: left;

}

.concept {
	display: block;
	text-align: center;

}

.contact {

	color: white;


}
.follow {
	color: white;
}

p {
	font-family: Verdana;
	color: white;
}


.fa-2x {
	color:white;
}

.container-fluid {

	position: right;
}